.divInfo {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}

.divChild {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top:-12px;
    left: 20px;
}

.divChildText {
    position: relative;
}

.linearBlack {
    background: rgb(73,73,73);
    background: radial-gradient(circle, rgba(73,73,73,1) 0%, rgba(48,48,48,1) 100%);
}

.linearRoxo {
    background: rgb(192,169,227);
    background: radial-gradient(circle, rgba(192,169,227,1) 0%, rgba(152,112,215,1) 100%);
}

.linearAzul{
    background: rgb(93,180,208);
    background: radial-gradient(circle, rgba(93,180,208,1) 0%, rgba(112,161,215,1) 100%);
}

.linearRosa {
    background: rgb(232,161,221);
    background: radial-gradient(circle, rgba(232,161,221,1) 0%, rgba(189,91,188,1) 100%);
}

.graficos {
    border-radius: 10px;
}

.infoNew {
    border-radius: 10px;
    color: rgb(58, 58, 58);
}

.badge-bg {
    background: rgb(192,169,227);
    background: radial-gradient(circle, rgba(192,169,227,1) 0%, rgba(152,112,215,1) 100%);
}
