body {
    background-image: url('../img/background.png');
    background-size: cover;
}

.colForm{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

div.row {
    height: 100vh;
}
